Machine Learning with Python/Week 5_Content based recommender/ml-latest/
Machine Learning with Python/Week 5_Content based recommender/ML0101EN-RecSys-Content-Based-movies.ipynb
Machine Learning with Python/Week 5_Content based recommender/ml-latest/ratings.csv
Machine Learning with Python/Week 5_Content based recommender/moviedataset.zip